doctype html
html(lang="CN-Zh")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",  content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    meta(name="description",content)
    block title
      title the blog
    link(rel="icon", href="")
    block styles
      link(rel="stylesheet", href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css")
      link(rel="stylesheet", href="../static/css/footer.css")
      //-each p in lang.youziku
      //- link(rel="stylesheet", href="http://www.youziku.com/webfont/NameCSS/"+ p)
  body
    block nav
      include ./inc/nav
    block content
    block footer
      include ./inc/footer
    block scripts
      script(src="../static/bower_components/jquery/dist/jquery.min.js")
      script(src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js")
      script(src="../static/js/common.js")
      script(src="../static/js/unescape-html.js")